@tailwind base;
@tailwind components;
@tailwind utilities;

/* -------------------------------------------> Overwrite du layout de Foudry / alien
*/
.window-content:has(.arr-modal-content){padding:0;}
#chat-controls .chat-control-icon{cursor: pointer;}

/* -------------------------------------------> Custom Content
  Use TW in HTML files as much as possible to avoid troubles
*/
.arr-token-item:not(:hover):not(:has(input:checked)) .arr-stars-container{display:none;}